<h1>About us</h1>
<p>Hi, I'm Matty. I used to be pretty clueless about personal finance until I made a New Year's resolution to finally get my financial act together. After consuming every book, tv show, podcast, and blog I could get my hands on, I took the best practices all the money gurus agree on and implemented them. Now I hope this interactive guide can help you too!</p>
