<% if user_signed_in? %>
            <div class="jumbotron jumbotron-home">
                <div class="container">
                        <h1>Welcome back!</h1>
                </div>
        <% else %>
    <div class="jumbotron jumbotron-home">
        <div class="container">
            <center>   
                <h1>The Money Checklist</h1>
                <h3>Wanna get your financial act together but not sure where to start?</h3>
                <%= link_to "Start here »", "#", class: "btn btn-primary btn-lg" %>
            </center> 
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <center><h2>Debt</h2>
                <p>In debt? We all are. We'll tell you which to pay off and in what order. </p>
                <p><%= link_to "Pay off my debt", "#", class: "btn btn-secondary" %></p>
            </center>
            </div>
            <div class="col-md-4">
            <center>    
                <h2>Savings</h2>
                <p>Feel like you don't have enough saved up? Don't have ANY saved up? We'll show you how to get started and how much you really need. </p>
                <p><%= link_to "Build savings", "#", class: "btn btn-secondary" %></p>
            </center>
            </div>
            <div class="col-md-4">
            <center>
                <h2>Investment</h2>
                <p>IRAs, 401(k)s, ETFs...could investing be any more confusing? We'll guide you through it all. </p>
                <p><%= link_to "Grow a nest egg", "#", class: "btn btn-secondary" %></p>
            </center>
            </div>
        </div>
    </div>
<% end %> 